@import 'styles/_mixins';

.HomeHeader{
  flex: 0 0 auto;
  height: 100px;
}

.HomeHeader--logo{
  padding: 15px;
}

.HomeHeader--logo img{
  display: block;
  height: 60px;
  width: auto;
}


/****** Responsive ******/

@include phablet {
  .HomeHeader--logo img{
    margin: 0 auto;
  }
}
