@import 'styles/_mixins.scss';

.input-action{
  display: flex;
  background: $brandHighlight;
  padding: 3px;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
}

.input-action.ui.input input,
.input-action.ui.input input:focus {
  border-radius: 5px;
  background: $dark !important;
  color: #ffffff;
  box-shadow: none;
  border: none;
  font-weight: 300;
}

.input-action.ui.input input:-webkit-autofill,
.input-action.ui.input input:-webkit-autofill:hover,
.input-action.ui.input input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px $dark inset;
  -webkit-text-fill-color: white !important;
}

.input-action > .ui.button {
  background: $brandHighlight;
  border: none;
  box-shadow: none;
  font-weight: 300;
  color: rgba(29, 3, 17, .8);
}

.input-action > .ui.button:hover,
.input-action > .ui.button:active,
.input-action > .ui.button:focus {
  background: $brandHighlight;
  border: none;
  box-shadow: none;
  color: rgba(29, 3, 17, 1);
}

.input-action .ui.loading.button:after{
  border-color: $dark transparent transparent;
}

/* Error code */

.email-form--response{
  margin-top: 10px;
}


/****** Responsive ******/

@include phablet {
  .input-action{
    flex-direction: column;
  }
}
