@import 'styles/_mixins.scss';

.HomeBanner{
  flex-grow: 1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}

.HomeBanner--title{
  font-size: 3.8em;
  margin-bottom: 50px;
  color: $brandPrimary;
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: bold;
}

.HomeBanner--action-cta{
  font-size: 1.4em;
  margin-bottom: 20px;
  color: $brandPrimaryShade;
  font-weight: 300;
}


/******* Responsive ******/

@include phablet {
  .HomeBanner--title{
    font-size: 3em;
    margin-bottom: 40px;
  }
}

@include mobile {
  .HomeBanner--title{
    font-size: 2.4em;
    margin-bottom: 30px;
  }

  .HomeBanner--action-cta{
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}
