@import 'styles/_mixins.scss';

.ShareButtons{
  padding: 3px 0;
  .ui.button{
    margin-right: 1em;
    &:last-child{
      margin-right: 0;
    }
  }
}

/******* Responsive ******/

@include phablet {
  .ShareButtons{
    .ui.button{
      display: block;
      margin: 0 auto 15px;
      max-width: 400px;
      &:last-child{
        margin-right: auto;
      }
    }
  }
}
