/****** Colors ******/
/****** Responsive ******/
.EmailFormContainer--cta {
  font-size: 1.4em;
  margin-bottom: 20px;
  color: #56AAA5;
  font-weight: 300; }

/******* Responsive ******/
@media screen and (max-width: 479px) {
  .EmailFormContainer--cta {
    font-size: 1.2em;
    margin-bottom: 20px; } }
