@import 'styles/_mixins.scss';

.EmailFormContainer--cta{
  font-size: 1.4em;
  margin-bottom: 20px;
  color: $brandPrimaryShade;
  font-weight: 300;
}


/******* Responsive ******/

@include mobile {
  .EmailFormContainer--cta{
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}
